.main {
  padding: 1rem;
  min-height: 100vh;
}

.description {
  display: block;
  margin: 0 auto 1rem;
  text-align: center;
  max-width: 1000px;
  width: 90%;
}

.rainbowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    #ef1f1f 0%,
    #e52d62 9.36%,
    #e42f6a 21.35%,
    #d840be 33.85%,
    #d545d8 52.6%,
    #57a2e7 99.99%,
    #57a2e7 100%
  );
  min-height: 0.667vh;
  padding: 1.35rem;
  margin: 0 auto;
  border-radius: 15px;
  width: max-content;
}

.transparencyOverRainbow {
  padding: 1.35rem;
  background: rgba(243, 240, 249, 0.8);
  border-radius: 15px;
  text-align: center;
  min-width: 500px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
