.tagline {
  text-align: 'center';
  margin: '1rem';
}

.outsideContainer {
  margin: '0 auto';
  width: '100%';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
}

.windowTopBar {
  display: 'flex';
  justify-content: 'space-between';
  align-items: 'center';
}

.browserNameText {
  margin-bottom: '0';
  flex: '0 0 auto';
}

.windowControlIcons {
  display: 'flex';
  justify-content: 'space-between';
  width: '15%';
  min-width: '4rem';
}
