$body-bg: #f3f0f9;
$body-color: #271254;
$theme-colors: (
  'primary': #7447d7,
  'danger': #ef1f1f,
  'secondary': #57a2e7,
);
$link-color: #d545d8;
$navbar-light-color: $body-color;
$navbar-light-active-color: $body-color;
$navbar-light-brand-color: $body-color;
$navbar-dark-brand-color: $body-color;
$navbar-light-brand-hover-color: $link-color;
$input-bg: #fff;
$font-size-base: 1.25rem;

// Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';
